<?xml version="1.0" encoding="UTF-8"?>
<Export generator="IRIS" version="26">
  <Document name="argus-iris.ZPM">
    <Module>
      <Name>argus-iris</Name>
      <Version>0.1.0</Version>
      <Description>Argus IRIS operational investigation portal</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
    </Module>
  </Document>
</Export>
